<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-avatar>
      <img alt="Kosong" src="../../assets/img/api.jpg" />
    </ion-avatar>
    <p>Rafael Delan Cahyo Purba</p>
    <p>Mahasiswa</p>
    <p>Email: lumenoji@gmail.com</p>
    <p>Instagram: <a href="https://www.instagram.com/__raph_in_ie/">@__raph_in_ie</a></p>
  </div>
  

</ion-content>
